# Logs
logs
*.log
npm-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
**/.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Test coverage and caches
coverage/
test-results/

# Nx
.nx/cache
.nx/workspace-data
